body
{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 17px;
}
span,
label {
	font-size:13px;
}	
input,
textarea {
	font-size:14px;
}

.mui-bar-nav
{
	box-shadow:none;
	-webkit-box-shadow: none;
}
.mui-headerExt{background:#CE3D3A;height:45px; }
.mui-table-view-cell{padding:8px 15px;}
.mui-bar-tab .mui-tab-item.mui-active{color:#CE3D3A;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:0px;border:0px;}
.mui-indexed-list{border-bottom:0px;}
.mui-table-view-cellExt{padding:11px 15px;}
.headerRightButton{float:right;color:#fff;font-size: 17px;font-weight: 500;line-height: 44px;}
#logoimg{height:25px;width:25px; margin-top:10px;}
.tl-notnull { color:red; font-size:xx-small}
#btn_back,#title{color:#FFF;}
/*通讯录图片样式*/
ul.mui-table-view li img{
    width: 42px
}